# Assessing the suitability of a dataset for deep learning
This notebook shows two examples of applying a fastai deep learning model to a tabular dataset. The goal of the notebook is to show a contrast between a unsuccessful application and a successful application.

In [ ]:
# imports for notebook boilerplate
!pip install -Uqq fastbook
import fastbook
from fastbook import *
from fastai.tabular.all import *

In [2]:
# set up the notebook for fast.ai
fastbook.setup_book()

In [3]:
# imports specifically needed for this notebook
! pip install pandas_datareader
import numpy as np
import pandas as pd
import os
import yaml
# For reading stock data from yahoo
from pandas_datareader.data import DataReader

# For time stamps
from datetime import datetime

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 21.0 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas_datareader) (1.1.4)
Collecting lxml
  Downloading lxml-4.6.2-cp38-cp38-manylinux1_x86_64.whl (5.4 MB)
     |████████████████████████████████| 5.4 MB 38.3 MB/s eta 0:00:01
Requirement already satisfied: requests>=2.19.0 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas_datareader) (2.25.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2020.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.19.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2020.11.8)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-4.6.2 pandas-datareader-0.9.0

# Ingest the dataset
Uset the DataReader API to get a stock price dataset for a stock.

In [4]:
# Set up start and end times for the data load - a year previous
end_time = datetime.now()
start_time = datetime(end_time.year - 1, end_time.month, end_time.day)

In [5]:
# Use the DataReader API to get the stock prices for AZN (AstraZeneca) for the preceding year
df = DataReader('AZN', 'yahoo', start_time, end_time)
df.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2020-02-06  50.099998  49.500000  49.689999  50.029999  2531000.0  48.642010
2020-02-07  49.919998  49.369999  49.889999  49.400002  1995500.0  48.029491
2020-02-10  49.939999  49.349998  49.490002  49.910000  1983200.0  48.525341
2020-02-11  49.980000  49.540001  49.939999  49.779999  1848800.0  48.398945
2020-02-12  49.799999  49.360001  49.750000  49.580002  2483000.0  48.204498

In [6]:
df.shape

(253, 6)

In [7]:
# check for missing values
count = df.isna().sum()
df_missing = (pd.concat([count.rename('missing_count'),
                     count.div(len(df))
                          .rename('missing_ratio')],axis = 1)
             .loc[count.ne(0)])

In [8]:
# check for missing values
df_missing

Empty DataFrame
Columns: [missing_count, missing_ratio]
Index: []

# Build and train the first model
For the fist model, use fastai defaults for everything.

In [9]:
dep_var = 'Close'
# define columns that are continuous / categorical
cont,cat = cont_cat_split(df, 1, dep_var=dep_var) 
print("continuous columns are: ",cont)
print("categorical columns are: ",cat)

continuous columns are:  ['High', 'Low', 'Open', 'Volume', 'Adj Close']
categorical columns are:  []

In [10]:
procs = [Normalize]
dls = TabularDataLoaders.from_df(df,procs= procs, 
                                 cat_names= cat, cont_names = cont, 
                                 y_names = dep_var, 
                                 valid_idx=list(range((df.shape[0]-50),df.shape[0])), bs=64)

In [11]:
dls.valid.show_batch()

In [12]:
# define and fit the model
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(3)

In [20]:
# start_time = datetime(end_time.year - 10, end_time.month, end_time.day)

# Build and train the second model
Revise the model:
- define a new target column to act as a categorical dependent variable (replacing the continuous dependent variable from the first model)
- explicitly select a subset of columns to train the model rather taking the set provided by default by cont_cat_split()

In [13]:
def get_target(value,threshold):
    '''return based on whether the input value is greater than or less than input threshold'''
    if value <= threshold:
        return_value = "0"
    else:
        return_value = "1"
    return(return_value)

In [14]:
threshold = 50.0
df['target'] = df['Close'].apply(lambda x: get_target(x,threshold))

In [16]:
df['target'].value_counts()

1    197
0     56
Name: target, dtype: int64

In [17]:
dep_var = 'target'

In [20]:
cont = ['High', 'Low', 'Open', 'Volume']

In [21]:
dls = TabularDataLoaders.from_df(df,procs= procs, 
                                 cat_names= cat, cont_names = cont, 
                                 y_names = dep_var, 
                                 valid_idx=list(range((df.shape[0]-50),df.shape[0])), bs=64)
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(30)